test_output/intersect_all_triangle_edge.png
test_output/intersect_endpoint_intersection_endpoint.png
test_output/intersect_endpoint_no_intersection.png
test_output/intersect_proper_crossing_interior.png
test_output/mesh_clip_bug.png
test_output/mesh_clip.png
test_output/mesh_face_01.png
test_output/mesh_face_02.png
test_output/triangle_01.png
test_output/triangle_02.png
test_output/triangle_03.png
test_output/triangle_04.png
test_output/triangle_05.png
test_output/triangle_06.png
test_output/triangle_07.png
test_output/triangle_08.png
test_output/triangle_09.png
test_output/triangle_10.png
test_output/triangle_11.png
test_output/triangle_12.png
test_output/triangle_13.png
test_output/triangle_14.png
test_output/triangle_15.png
test_output/triangle_16.png
test_output/triangle_17.png
test_output/triangle_18.png
test_output/triangle_19.png
test_output/triangle_20.png
test_output/triangle_21.png
